

/*内容*/
.tj .tab{
	border:#ddd solid 1px;
	margin-top:40px;
	
}
.tj .tab_head{
	font-size:18px;
	font-weight:normal;
	height:50px;
	line-height:60px;
	border-bottom:#ddd 1px solid;
	color:#333;
	width:235px;
	margin-left:5%;
}
.under_line{
	border-bottom: solid 3px #ca5f5d;
	width: 30%;
	height: 50px;
}
.under_line1{
	width: 15% !important;
}
.under_line2{
	width: 100% !important;
}
.under_line div{
	float: right;
}
.tab_head img{
	width: 18px;
}
.tj .tab_cont{
	width:90%;
	margin:0 5%;
}
.tj .tab_cont li{
	border-bottom:#ddd 1px solid;
}
.tj .tab_cont li:last-child{
	border-bottom:none;
}
.tj .tab_cont h3{
	text-align:justify;
	min-height:40px;
	line-height:20px;
	overflow:hidden;
}
.tj .tab_cont h4{
	color:#979797;
}
.ttxw{
	padding-right:35px;
}
.ttxw .right_head{
	margin-top:30px;
	overflow:hidden;
	border-bottom:#ddd 1px solid;
	height:50px;
	line-height:50px;
}
.ttxw .news_title{
	float:left;
	font-size: 28px;
    font-weight: normal;
    color: #ca5f5d;
    width: 28%;
}
.news_title p{
	float: right;
	color: #919194;
	font-size: 24px;
}
.news_title img{
	width: 12%;
	margin-top: -5px;
}
.ttxw .right{
	float:right;
	color:#ca5f5d;
}
.ttxw .item{
	overflow:hidden;
	padding:25px 25px 10px 0;
	
}
.ttxw .row{
	margin-left:0;
	margin-right:-25px;
}
.ttxw .item>div{
	float:left;
}
.ttxw .pic{
	width:38%;
}
.ttxw .pic img{
	width:100%;
	height:auto;
}
.ttxw .text{
	width:58%;
	margin-left:2%;
}
.ttxw .text h2.title{
	margin-top:0;
	text-align:justify;
	height:40px;
	line-height:20px;
	overflow:hidden;
	font-weight:bold !important;
}
.ttxw .text h3.cont{
	height:60px;
	line-height:20px;
	overflow:hidden;
	color:#979797;
	margin-top:10px;
}
.ttxw .list{
	height:180px;
}
.ttxw .list ul li{
	height:30px;
	line-height:30px;
	list-style-type: disc; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}
@media (max-width:768px){
	.ttxw .list ul{
		text-align:center;
	}
}
.ggw{
	height:98px;
	margin:20px 0 10px;
	border:#6d4b51 dashed 1px;
	text-align:center;
	line-height:98px;
}
.zxgx .zxgx-title{
	font-size: 20px;
    font-weight: normal;
    height: 50px;
    line-height: 60px;
    border-bottom: #ddd 1px solid;
    color: #ca5f5d;
    width: 100%;
    color: #333;
    margin-bottom: 20px;
}
.zxgx-title img{
	width: 20px;
	margin-right: 10px;
}
.zxgx .zxgx-cont li{
	overflow:hidden;
	margin-top:10px;
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:#dddddd dashed 1px;
}
.zxgx .zxgx-cont li:last-child{
	border-bottom:none;
}
.zxgx .zxgx-cont img{
	width:28%;
	float:left;
}
.zxgx .zxgx-cont .text{
	width:68%;
	margin-left:2%;
	float:left;
}
.zxgx .zxgx-cont .text h2.title{
	margin-top:20px;
	text-align:justify;
	height:20px;
	line-height:20px;
	font-weight:bold !important;
	overflow:hidden;
}
@media (max-width:768px){
	.zxgx .zxgx-cont .text h2.title{
		margin-top:0;
	}
}
.zxgx .zxgx-cont .text h3.detail{
	height:40px;
	line-height:20px;
	overflow:hidden;	
	margin-top:10px;
}
.zxgx .zxgx-cont .text h3.extra{
	color:#979797;;
}
.phb-title{
	overflow:hidden;
	border-bottom:1px solid #dddddd;
	height: 51px;
    line-height: 60px;
}
.phb-title a{
	font-size: 20px;
    font-weight: normal;
	float:left;
	color: #333;
	display:inline-block;
	width:38%;
}
.phb-title img{
	width: 20px;
}
.under_line div{
	float: right;
}
.phb-title>ul{
	float:right;
	overflow:hidden;
}
.phb-title>ul>li{
	float:left;
	margin-left:8px;
	cursor:pointer;
	height:50px;
}
.phb-title>ul>li.active{
	color:#ca5f5d;
	border-bottom:2px solid #ca5f5d;
}
.phb-cont{
	margin-top:10px;
}
.phb-cont li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}
@media (max-width:768px){
	.phb-cont li{
		text-align:center;
	}
}
.kb-title{
	border-bottom:1px solid #dddddd;
	height: 50px;
    line-height: 60px;
	font-size: 20px;
    font-weight: normal;
	color: #333;	
	width: 258px;
}
.kb-title img{
	width: 20px;
}
.kb-cont li{
	background:#83bf42;
	height:120px;
	line-height:110px;
	color:#ffffff;
	padding:5px;
	text-align:center;
	margin:5px;
}
.kb-cont li>div{
	border:#ffffff dashed 1px;
}
