
/*内容*/
.top-head{
	height:60px;
	margin-top:20px;
	line-height:60px;
	border-bottom:#169bd5 solid 1px;	
}
.top-head .title{
	font-size:30px;
}
.top-head .list{
	text-align:right;
}
.top-head .list ul{
	height:60px;
	line-height:60px;
	color:#169bd5;
	font-size:16px;
}
.top-head .list ul li{
	display:inline-block;
	height:60px;
	line-height:60px;
	padding:0 10px;
}
.top-head .list ul li.current{
	background:#169bd5;
	color:#ffffff;
}
.tabs{
	margin-top:25px;
	height:50px;
	line-height:50px;
	border-top:#f4f4f4 solid 1px;
	border-bottom:#f4f4f4 solid 1px;
	color:#169bd5;
	font-size:18px;
}
.tabs .tab-list{
}
.tabs .tab-list li{
	display:inline-block;
	padding:0 20px;
	cursor:pointer;
}
.tabs .tab-list li.current{
	background:#169bd5;
	color:#ffffff;
	position:relative;
}
.tabs .tab-list li.current:after{
	content: '';
    width: 0;
    height: 0;
    box-sizing: content-box;
    border: 15px solid;
	border-color:transparent;
    border-top-color: #169bd5;
    position: absolute;
    bottom: -30px;
    left: 20px;
}
.settings-left .title{
	height:47px;
	margin-top:25px;
	color:#169bd5;
	font-size:18px;
	border-bottom:#ddd solid 1px;
	line-height:47px;
	margin-right:-15px;
	padding-left:15px;
}
.settings-left .set-table{
	width:100%;
}
.settings-left .set-table tr{
	height:60px;
}
.settings-left .set-table tr td:nth-child(1){
	width:25%;
	text-align:center;
}
.settings-left .set-table tr td:nth-child(2){
	width:75%;
}
.settings-left .set-table tr td:nth-child(2) input[type="text"]{
	width:100%;
	height:40px;
	border:#ddd solid 1px;
	text-indent:10px;
}
.settings-right .title{
	height:47px;
	margin-top:25px;
	color:#169bd5;
	font-size:18px;
	border-bottom:#ddd solid 1px;
	line-height:47px;
	margin-left:-15px;
	padding-left:55px;
}

.settings-right .set-table{
	width:100%;
}
.settings-right .set-table tr{
	height:70px;
}
.settings-right .set-table tr td:nth-child(1){
	width:32%;
	text-align:right;
}
.settings-right .set-table tr td:nth-child(2){
	width:68%;
	padding-left:5%;
}
.settings-right .set-table tr td:nth-child(2) input[type="text"],.settings-right .set-table tr td:nth-child(2) input[type="number"],.settings-right .set-table tr td:nth-child(2) select{
	height:40px;
	border:#ddd solid 1px;
	text-indent:10px;
}
.settings-right .set-table tr td:nth-child(2) input.time{
	width:100%;
}
.settings-right .set-table tr td:nth-child(2) input.turning-times{
	width:100%;
}
.settings-right .set-table tr:nth-child(2) td:nth-child(2) select{
	width:100%;
}
.settings-right .set-table tr:nth-child(3) td:nth-child(2) select{
	width:40%;
}
.settings-right .set-table tr:nth-child(3) td:nth-child(2) input{
	width:50%;
}
.settings-right .set-table tr td:nth-child(2) input.num,.settings-right .set-table tr td:nth-child(2) input.percent{
	width:15%;
}
.btns{
	text-align:center;
}
.btns>div{
	display:inline-block;
	margin:60px 20px;	
}
.btns button{
	height:40px;
	padding:0 26px;
	border-radius:6px;
}
.reset{
	border:#333333 solid 1px;
	background:#ffffff;
}
.submit-start{
	background:#169bd5;
	color:#ffffff;
}
/*keyword-simple*/
.cont{
	max-width:660px;
	width:100%;
}
.cont .name{
	overflow: hidden;
    width: 100%;
	margin:45px 0 20px;
}
.cont .text{
	color:#169bd5;
	font-size:18px;
}
.cont .name .text{
	width: 20%;
    padding-left: 15px;
    float: left;
}
.cont .name input{
	width:80%;
	float:left;
	border:#ddd 1px solid;
	height:34px;
	text-indent:15px;
}
.cont .keywords .text{
	padding-left:15px;
}
.cont .keywords textarea{
	margin-left:3%;
	width:97%;
	height:220px;
	outline:0;
	border:#ddd 1px solid;
	margin-top:10px;
	resize: vertical;
}
.cont .except{
	overflow:hidden;
	width:100%;
	margin:25px 0 45px;
}
.cont .except .text{
	width: 20%;
    padding-left: 15px;
    float: left;
}
.cont .except input{
	width:80%;
	float:left;
	border:#ddd 1px solid;
	height:34px;
	text-indent:15px;
}
.btns-margin{
	margin:45px 0;
	text-align:left !important;
	padding-left:25%;
}
.gjc .title2{
	margin-top:15px;
	margin-bottom:8px;
}
.gjc textarea{
	width:100%;
	resize:vertical;
	border:#ddd solid 1px;
	height:110px;
	margin-bottom:10px;
	outline:0;
}
.gjc .limit-time{
	overflow:hidden;
}
.gjc .limit-time .title2{
	float:left;
}
.gjc .limit-time select{
	float:left;
	outline:0;
	margin-top:15px;
	margin-bottom:8px;
	border:#ddd solid 1px;
	width:40%;
}
.gjc .location{
	overflow:hidden;
}
.gjc .location .title2{
	float:left;
}
.gjc .location .radios{
	float:left;
	width:75%;
	overflow:hidden;
}
.gjc .location .radios>div{
	float:left;
	margin-top:15px;
	margin-bottom:8px;
	margin-left:15px;
}
.gjc .site .title2{
	float:left;
	width:30%;
}
.gjc .site input{
	float:left;
	height:35px;
	border:#ddd solid 1px;
	width:60%;
	margin-top:15px;
	margin-bottom:8px;
}
.settings-right2 .title{
	height: 47px;
    margin-top: 25px;
    color: #169bd5;
    font-size: 18px;
    border-bottom: #ddd solid 1px;
    line-height: 47px;
    margin-left: -15px;
    padding-left: 15px;
}
.origin .title3{
	color:#6984b9;
	font-size:20px;
	margin-top:15px;
	margin-bottom:8px;
	padding-bottom:5px;
	border-bottom:#6984b9 solid 1px;
}
.origin ul.list1{
	overflow:hidden;
	margin-left:18px;
	margin-top:18px;
}
.origin ul.list1 li{
	float:left;
	margin:18px;
	margin-top:0;
}
.origin .domain{
	overflow:hidden;
}
.origin .list2{
	float:left;
	width:50%;
	margin-top:5px;
}
.origin .list2 li{
	padding-left:1.5em;
}




























